In [3]:
print('%s %s' % ('one', 'two'))
print('{} {}'.format('one', 'two'))
print('%d %d' % (1, 2))
print('{} {}'.format(1, 2))

one two
one two
1 2
1 2

In [6]:
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")
number = 3; day = "three"
print("I ate %d apples. I was sick for %s days." %(number, day))
print("Product: %s, Price per unit: %f" %("Apple", 5.243))

I eat 3 apples.
I eat five apples.
I ate 3 apples. I was sick for three days.
Product: Apple, Price per unit: 5.243000

In [8]:
print("Product: %10s, Price per unit: %10.1f" %("Apple", 5.243))

Product:      Apple, Price per unit:        5.2

In [10]:
age =36; name = 'Sungchul Choi'
print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name, age)) #{숫자} 변수의 순서
print("Product: {0}, Price per unit: {1:.3f}".format("Apple", 5.243))

I'm 36 years old.
My name is Sungchul Choi and 36 years old.
Product: Apple, Price per unit: 5.243

In [14]:
print("Product: %5s, Price per unit: %.5f" %("Apple", 5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}".format("Apple", 5.243))
print("Product: %10s, Price per unit: %10.3f" % ("Apple", 5.243))
print("Product: {0:<10s}, Price per unit: {1:10.3f}".format("Apple", 5.243))  # *padding: <10s 왼쪽 정렬, >10s 오른쪽 정렬

Product: Apple, Price per unit: 5.24300
Product: Apple, Price per unit: 5.24300
Product:      Apple, Price per unit:      5.243
Product: Apple     , Price per unit:      5.243

In [16]:
print("Product: %(name)10s, Price per unit: %(price)10.5f." % {"name": "Apple", "price": 5.243})

Product:      Apple, Price per unit:    5.24300.

In [19]:
print("Product: {name:>10s}, Price per unit: {price:10.5f}.".format(name="Apple", price=5.243))

Product:      Apple, Price per unit:    5.24300.

In [24]:
#f-string

name = "Sungchul"
age = 39
print(f"Hello, {name}. You are {age}.")  #f-string 
print(f'{name:20}')   # 왼쪽 정렬이 기본
print(f'{name:>20}')  # 오른쪽 정렬
print(f'{name:*<20}') # 별표로 채우기
print(f'{name:*>20}')
print(f'{name:*^20}') # 가운데 정렬

number = 3.141592653589793
print(f'{number:.2f}')
print(f'{number:*<10.2f}')

Hello, Sungchul. You are 39.
Sungchul
            Sungchul
Sungchul************
************Sungchul
******Sungchul******
3.14
3.14******