# stack

In [35]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [36]:
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [37]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [38]:
c = a.pop()
c

20

In [39]:
a.pop()  #sort는 return이 없음, sorted(a)는 정렬만 시켜주면서 return 도 시킴

10

In [42]:
# 입력된 문자를 역순으로 출력하기
word = input("Input a word: ") 
word_list = list(word)
for i in range(len(word_list)):
    print(word_list.pop())
    print(word_list)

Input a word: naver
r
['n', 'a', 'v', 'e']
e
['n', 'a', 'v']
v
['n', 'a']
a
['n']
n
[]

# Queue

In [54]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [55]:
first = a.pop(0) # 1 출력
a

[2, 3, 4, 5, 10, 20]

In [56]:
second = a.pop(0) # 2 출력
a

[3, 4, 5, 10, 20]

# Tuple

In [61]:
t = (1,2,3)
type(t)

tuple

In [62]:
t + t

(1, 2, 3, 1, 2, 3)

In [64]:
t * 2

(1, 2, 3, 1, 2, 3)

In [67]:
t # 연산은 가능해도 t 자체는 변하지 않음.

(1, 2, 3)

In [69]:
len(t)

3

In [71]:
t[1] = 5  # 값의 변경은 불가능함!

TypeError: 'tuple' object does not support item assignment

In [73]:
t = (1) # 정수로 인식
type(t)

int

In [75]:
t = (1,) # 값이 1개더라도 tuple로 인식하려면 반드시 콤마(,)를 찍어야 함!
type(t)

tuple

# Set

In [82]:
s = set([1,2,3,1,2,3,]) # set은 중복 불허, 순서 없음
s

{1, 2, 3}

In [83]:
type(s)

set

In [77]:
s.add(1) # 원소 1 추가. but 중복 불허로 추가 되지 않음
s

{1, 2, 3}

In [78]:
s.remove(1) # 원소 삭제
s

{2, 3}

In [79]:
s.update([1,4,5,6,7])
s

{1, 2, 3, 4, 5, 6, 7}

In [80]:
s.discard(3)  # 해당 값만 삭제
s

{1, 2, 4, 5, 6, 7}

In [84]:
s.clear()  # 모든 원소 삭제
s

set()

In [86]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])
type(s1), type(s2)

(set, set)

In [88]:
s1.union(s2) # s1 과 s2 합집합

{1, 2, 3, 4, 5, 6, 7}

In [90]:
s1 | s2 # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [91]:
s1.intersection(s2) # s1과 s2 교집합

{3, 4, 5}

In [92]:
s1 & s2 # 교집합

{3, 4, 5}

In [93]:
s1. difference(s2) # s1과 s2의 차집합

{1, 2}

In [98]:
s1 - s2 # 차집합

{1, 2}

# Dictionary

In [105]:
# country_code = dict.() # Dict 생성 country_code = {} 도 가능함
country_code = {"America": 1, "Korea": 82, "China": 86, "Japan": 81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [107]:
type(country_code)

dict

In [110]:
country_code.items() # DIct 데이터 출력

dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])

In [112]:
for dict_items in country_code.items():
    print(dict_items)

('America', 1)
('Korea', 82)
('China', 86)
('Japan', 81)

In [114]:
for dict_items in country_code.items(): # 값 변경이 불가능한 튜플의 형태로 들어있음.
    print(type(dict_items))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [115]:
country_code.keys() #  Dict 키 값만 출력

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [117]:
country_code["German"]= 49 # Dict 추가
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}

In [118]:
country_code["German"]= 55 # Key 값 변경
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 55}

In [120]:
country_code.values() # value 값만 출력

dict_values([1, 82, 86, 81, 55])

In [125]:
for dict_values in country_code.values(): # key 값은 정수형으로 들어있음
    print(type(dict_values))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [127]:
for k, v in country_code.items(): # unpaking 이 일어남
    print("Key: ", k)
    print("Value: ", v)

Key:  America
Value:  1
Key:  Korea
Value:  82
Key:  China
Value:  86
Key:  Japan
Value:  81
Key:  German
Value:  55

In [129]:
"Korea" in country_code.keys() # Key 값에 특정 값이 있는지 확인

True

In [131]:
82 in country_code.values() # Value 값에 특정 값이 있는지 확인

True