# list comprehension

In [1]:
result = [] # general code
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
result = [i for i in range(10)]  # list comprehension
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Nesteed for loop

In [11]:
import pprint

In [26]:
word_1 = "hello"
word_2 = "world"

result = [i+j for i in word_1 for j in word_2]
print(result)
pprint.pprint(result)

['hw', 'ho', 'hr', 'hl', 'hd', 'ew', 'eo', 'er', 'el', 'ed', 'lw', 'lo', 'lr', 'll', 'ld', 'lw', 'lo', 'lr', 'll', 'ld', 'ow', 'oo', 'or', 'ol', 'od']
['hw',
 'ho',
 'hr',
 'hl',
 'hd',
 'ew',
 'eo',
 'er',
 'el',
 'ed',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'ow',
 'oo',
 'or',
 'ol',
 'od']

In [17]:
word_1 = "hello"
word_2 = "world"

# general code
for i in word_1:
    for j in word_2:
        result.append(i+j)
result

['hw',
 'ho',
 'hr',
 'hl',
 'hd',
 'ew',
 'eo',
 'er',
 'el',
 'ed',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'ow',
 'oo',
 'or',
 'ol',
 'od',
 'hw',
 'ho',
 'hr',
 'hl',
 'hd',
 'ew',
 'eo',
 'er',
 'el',
 'ed',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'ow',
 'oo',
 'or',
 'ol',
 'od']

# Filter

In [21]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j for i in case_1 for j in case_2]

[i+j for i in case_1 for j in case_2 if not (i==j)] # Filter : i=j 이면 list에 추가 안 함

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [23]:
pprint.pprint([i+j if not (i==j) else "BEE" for i in case_1 for j in case_2])

['AD', 'AE', 'BEE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

# Two dimentional list

In [30]:
words = 'The quick brown fox jumps over the lazy dog'.split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [32]:
print([[w.upper(), w.lower(), len(w)] for w in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [34]:
pprint.pprint([[w.upper(), w.lower(), len(w)] for w in words])

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [43]:
case_1 = ["A", "B", "C"]
case_2 = ["C", "E", "A"]
# one dimensional list
[i+j for i in case_1 for j in case_2]

['AC', 'AE', 'AA', 'BC', 'BE', 'BA', 'CC', 'CE', 'CA']

In [46]:
# two dimentional list
[[i+j for i in case_1] for j in case_2]

[['AC', 'BC', 'CC'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [47]:
[[j+i for i in case_1] for j in case_2]

[['CA', 'CB', 'CC'], ['EA', 'EB', 'EC'], ['AA', 'AB', 'AC']]

In [59]:
for j in case_2:
    line = []
    for i in case_1:
        line.append(i+j)
        
line

['AA', 'BA', 'CA']

# enumuration

In [61]:
for i, v in enumerate("ABC"):
    print("{0}\t{1}".format(i, v))

0	A
1	B
2	C

In [66]:
my_str = "ABCD"
{i : v for i, v in enumerate(my_str)} #dict type

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

In [67]:
{v : i for i, v in enumerate(my_str)} #dict type 실제로는 이 형태를 더 많이 씀

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [74]:
text = "Samsung Group is a South Korean multinational conglomerate headquartered in Samsung Town Seoul. "
{i : v.lower() for i, v in enumerate(text.split())}

{0: 'samsung',
 1: 'group',
 2: 'is',
 3: 'a',
 4: 'south',
 5: 'korean',
 6: 'multinational',
 7: 'conglomerate',
 8: 'headquartered',
 9: 'in',
 10: 'samsung',
 11: 'town',
 12: 'seoul.'}

In [76]:
set_text = list(set(text.split()))
set_text

['multinational',
 'headquartered',
 'conglomerate',
 'is',
 'a',
 'South',
 'Seoul.',
 'Samsung',
 'Group',
 'in',
 'Town',
 'Korean']

In [77]:
{i : v.lower() for i, v in enumerate(set_text)}

{0: 'multinational',
 1: 'headquartered',
 2: 'conglomerate',
 3: 'is',
 4: 'a',
 5: 'south',
 6: 'seoul.',
 7: 'samsung',
 8: 'group',
 9: 'in',
 10: 'town',
 11: 'korean'}

# Zip

In [79]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

[[a, b] for a, b in zip(alist, blist)]

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [81]:
[c for c in zip(alist, blist)] # 튜플 타입으로 묶기

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [82]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)

[sum(value) / 3 for value in zip(math, kor, eng)]

[93.33333333333333, 86.66666666666667, 73.33333333333333]

# enumerate & zip

In [83]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

for i, values in enumerate(zip(alist,blist)):
    print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [85]:
(zip(alist, blist))

In [87]:
list(zip(alist, blist))

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [88]:
list(enumerate(zip(alist, blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]